syntax: glob
# generic
*.pyc
*.swp
*.swo
.*
*~

# specific
build/*
ve/*
ons_data/*
okfn/*
ckan/*
dgu/*
old_scripts/*
pip_cache/*
info/*
pyenv-tools/*
*.tac
twistd.*
pip-log.txt
Vms
dumps/*
dumps_gz/*
deb/*
